@model PROJETAKIP.Models.Personel.PersonelBilgileri

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PersonelBilgileriId)
        <div class="card mb-4">
            <h5 class="card-header">Personel Ekle</h5>

            <hr class="my-0">
            <div class="card-body">
                <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.AdSoyad, htmlAttributes: new { @class = "control-label col-md-6" })

                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>

                                <input class="form-control" type="text" id="AdSoyad" name="AdSoyad" autofocus="" value="@Model.AdSoyad">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.PersonelGorseli, htmlAttributes: new { @class = "control-label col-md-6" })

                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-image"></i></span>

                                <input class="form-control" type="text" id="PersonelGorseli" name="PersonelGorseli" value="">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.EPosta, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                <input class="form-control" type="email" name="Eposta" id="Eposta" value="@Model.EPosta">
                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Departman, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                                <input class="form-control" type="text" name="Departman" id="Departman" value="@Model.Departman">

                            </div>

                        </div>

                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Gorev, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-alarm"></i></span>

                                <input class="form-control" type="text" name="Gorev" id="Gorev" value="@Model.Gorev">

                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.TCNO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-alarm"></i></span>
                                <input class="form-control" type="text" name="TCNO" id="TCNO" value="@Model.TCNO">

                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Yetki, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-adjust"></i></span>
                                <input class="form-control" type="text" name="Yetki" id="Yetki" value="@Model.Yetki">

                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.TelNO, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                                <input class="form-control" type="text" name="TelNo" id="TelNo" value="@Model.TelNO">

                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-map"></i></span>
                                <input class="form-control" type="text" name="Adres" id="Adres" value="@Model.Adres">
                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.DogumTarihi, htmlAttributes: new { @class = "control-label col-md-2" })

                            <input class="form-control" type="text" id="DogumTarihi" name="DogumTarihi" value="@Model.DogumTarihi">
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.IseGirisTarihi, htmlAttributes: new { @class = "control-label col-md-6" })

                            <input class="form-control" type="text" id="IseGirisTarihi" name="IseGirisTarihi" value="@Model.IseGirisTarihi">
                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.MedeniHal, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-select-multiple"></i></span>
                                <input class="form-control" type="text" name="MedeniHal" id="MedeniHal" value="@Model.MedeniHal">


                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-paste"></i></span>
                                <input class="form-control" type="password" id="Sifre" name="Sifre" value="@Model.Sifre">
                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.PozisyonAciklama, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-message2" class="input-group-text"><i class="bx bx-comment"></i></span>
                                <input class="form-control" type="text" id="PozisyonAciklama" name="PozisyonAciklama" value="@Model.PozisyonAciklama">
                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.YakınBilgisi, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-bookmark"></i></span>
                                <input class="form-control" type="text" id="YakinBilgisi" name="YakinBilgisi" value="@Model.YakınBilgisi">

                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.YakınAdSoyad, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-bookmark"></i></span>
                                <input class="form-control" type="text" id="YakinAdSoyad" name="YakinAdSoyad" value="@Model.YakınAdSoyad">
                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.YakınTC, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-bookmark"></i></span>
                                <input class="form-control" type="text" id="YakinTC" name="YakinTC" value="@Model.YakınTC">
                            </div>

                        </div>
                        <div class="mb-3 col-md-6">
                            @Html.LabelFor(model => model.YakınTel, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-phone"></i></span>
                                <input class="form-control" type="text" id="YakinTel" name="YakinTel" value="@Model.YakınTel">
                            </div>

                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Personel Düzenle</button>
                        <a href="/PersonelBilgileris/Index/" class="btn btn-outline-secondary">Anasayfaya Dön</a>
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>




    </div>
}

